.tech-about-container {
  display: grid;
  grid-template-columns: 3fr 30%;
  padding: 5rem;

  .about-tech {
    font-size: 1.2rem;
    font-family: Oxygen, 'san-serif';
  }

  img {
    float: left;
    width: 30%;
    margin: 0 1.5rem 1rem;
  }

  .tech-gallery {
    width: 100%;
  }
}
