
.gallery-container {
    margin: 5rem 1rem;

    .heading-hr {
        margin-bottom: 5rem;
    }
}

@media (hover: hover) and (pointer: fine) {
    .gallery-container {
        margin: 5rem;
    
        .heading-hr {
            margin-bottom: 5rem;
        }
    }
}