.main-nav {
  background-color: #96304c;
  width: 100%;
  padding-top: 0;
  margin: 0;

  .container-fluid {
    padding: 0 2rem;
  }

  a {
    text-decoration: none;
  }

  .navbar-brand {
    color: #fff;
    font-size: 2rem;
  }
}

.offcanvas {
  color: #fff;

  .offcanvas-title {
    font-size: 2rem;
    font-family: 'Caveat', cursive;
  }

  hr {
    color: #96304c;
    margin: 0 4rem;
    padding: 0;
  }

  a {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    margin: .5rem;
  }

  .links { 
    text-decoration: none;
  }

  .links:hover, .dropdown-toggle:hover, .dropdown-item:hover {
    color: #96304c;
  }

  .dropdown-toggle:active {
    color: #96304c;
  }

  .dropdown-toggle::after {
    color: #96304c;
  }
    

  .dropdown-menu {
    background-color: #f3b3c4;
  }

  .dropdown-item:hover {
    box-shadow: 4px 3px #96304b79, -1em 0.5em 1em #96304b57;
    background-color: #fff;

  }
}

.footer-container {
padding: 10px 0;
margin-top: 5rem;
}
