.members-container {
  grid-row: span 2 / auto;
  color: #333;

  .member {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    button {
      height: 35px;
    }
  }

  .member img {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(51, 51, 51, 0.295);
  }

  .member h6 {
    margin: 0;
    padding: 0;
    color: #333;
  }

  .name-and-status {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 30%;
    margin-left: 1rem;
  }

  .member button {
    background-color: #333;
    display: flex;
    margin: auto;
    border-radius: inherit;
  }
}
