.category-container {
  .cat-name {
    font-family: Caveat, cursive;
    font-size: 2.5rem;
    margin: 1.5rem 0;
  }

  .menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin: 3rem 0;
  }
}
