.menu-item-container {

  p {
    font-family: Oxygen, 'san-serif';
    font-size: 1rem;
  }

  .btn-menu {
    background-color: #96304c;
    font-size: 1rem;
    font-family: Oxygen, 'san-serif';
    color: #fff;
  }

  hr {
    margin-right: 4.5rem;
    color: #96304c;
  }
}
