.about-container {
  padding: 0 3rem;
  display: grid;
  place-items: center;
  font-size: 1.5rem;

  img {
    width: 100%;
  }

  .about-image-container {
    margin-bottom: 1rem;
  }
}

.team-images-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3rem 0;
  padding: 0 3rem;
  display: grid;
  place-items: center;
  // width: 94%;

  img {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .team-images-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5rem 0;
  }

  .about-container {
    padding: 0 5rem;
    margin: 2rem;
    font-size: 2rem;
    text-align: center;

    .about-image-container {
      width: 45%;
      margin: 2rem 16rem;
    }

    img {
      width: 100%;
    }

    .about-text {
      font-family: Oxygen, 'sans-serif';
      font-size: 1.5rem;
    }
  }
}
