.appointment-container {
  margin-top: 5rem;
}

.datepicker-calendar > div {
  background-color: red;
}

.MuiCalendarPicker-root {
    background-color: red;
}

svg circle {
  fill: #96304c;
}

button div span {
  color: #fff;
}

.picker__box .picker__header .picker__date-display {
  background-color: #6d4c41;
}
